# https://ergogen.cache.works/
meta:
  version: 0.1.0
units:
  # Choc spacing
  kx: cx
  ky: cy
  # Padding Variables
  px: kx + 4
  py: ky + 4
  kcow: 13.8 # key cutout hole width (cherry, choc v2: 14, choc v1: 13.8)
  kcoh: 13.8 # key cutout hole height (cherry, choc v2: 14, choc v1: 13.8)
  keycw: 17.5 # keycap width (cherry: 18, choc: 17.5)
  keych: 16.5 # keycap height (cherry: 18, choc: 16.5)
  vertical_diode_shift: 1.5 # How much to shift to avoid overlap
  horizontal_diode_shift: -0.5 kcow - 0.85
  diode_rotation: -180
  switch_rotation: 180 # Hotswap south, led north
  screw_radius: 1.1 # M2 screws
  # For preview only. We show slightly smaller to ID overlaps
  $default_width: cx-1
  $default_height: cy-1
points:
  rotate: -20
  key:
    padding: ky
    spread: kx
    tags:
      1u: true
  zones:
    matrix:
      key.tags:
        - key
      # Fix placement on KiCAD sheet
      anchor:
        shift: [100, -100]
      columns:
        outer:
          rows:
            mod.skip: true
          key:
            column_net: col_outer
        pinky:
          rows:
            mod.skip: true
          key:
            stagger: 2
            column_net: col_pinky
        ring:
          key:
            stagger: 7
            column_net: col_ring
          rows:
            mod.column_net: col_pinky
        middle:
          key:
            stagger: 3
            column_net: col_middle
          rows:
            mod.column_net: col_ring
        index:
          key:
            stagger: -6
            column_net: col_index
          rows:
            mod.column_net: col_middle
        inner:
          rows:
            mod.skip: true
          key:
            stagger: -2
            column_net: col_inner
      rows:
        mod:
          row_net: row_mod
          mirror.row_net: mirror_row_mod
        bottom:
          row_net: row_bottom
          mirror.row_net: mirror_row_bottom
        home:
          row_net: row_home
          mirror.row_net: mirror_row_home
        top:
          row_net: row_top
          mirror.row_net: mirror_row_top
        num:
          row_net: row_num
          mirror.row_net: mirror_row_num
    thumbfan:
      key.tags:
        - key
      anchor:
        ref: matrix_inner_mod
        shift: [2, 8]
      columns:
        home:
          key:
            spread: 4+kx
            splay: -35
            origin: [-20.75, -19]
            column_net: col_index
            mirror.column_net: col_index
        far:
          key:
            spread: 21
            splay: -5
            origin: [-9.5, -9]
            column_net: col_inner
            mirror.column_net: col_inner
      rows:
        thumb:
          row_net: row_mod
          mirror.row_net: mirror_row_mod
    # Helper points
    hole_top_left:
      key.tags:
        - hole
      anchor:
        ref: [matrix_outer_bottom]
        shift: [0.5kx, -0.65ky]
    hole_bottom_left:
      key.tags:
        - hole
      anchor:
        ref: [matrix_outer_num]
        shift: [-0.5kx, 0.5ky]
    hole_top_inner_left:
      key.tags:
        - hole
      anchor:
        ref: [matrix_inner_num]
        shift: [0.75kx, -0.5ky]
    hole_bottom_inner_left:
      key.tags:
        - hole
      anchor:
        ref: [matrix_index_mod]
        shift: [0.70kx, -0.35ky]
    hole_bottom_inner_inner_left:
      key.tags:
        - hole
      anchor:
        ref: [thumbfan_far_thumb]
        shift: [0.70kx, -0.20ky]
  mirror:
    ref: matrix_inner_home
    distance: cx+60
outlines:
  keys:
    - what: rectangle
      where: /key/
      bound: false
      size: [kcow, kcoh]
  board:
    - what: polygon
      operation: stack
      points:
        - ref: thumbfan_far_thumb
          shift: [0.55px,-0.55py]
        - ref: matrix_index_mod
          shift: [0.5px, -0.65py]
        - ref: matrix_ring_mod
          shift: [-0.5px, -0.6py]
        - ref: matrix_outer_bottom
          shift: [-0.55px, -0.55py]
        - ref: matrix_outer_num
          shift: [-0.55px, 0.55py]
        - ref: matrix_middle_num
          shift: [-0.5px, 0.65py]
        - ref: matrix_inner_num
          shift: [0.5px, 0.65py]

        - ref: mirror_matrix_inner_num
          shift: [0.5px, 0.65py]
        - ref: mirror_matrix_middle_num
          shift: [-0.5px, 0.65py]
        - ref: mirror_matrix_outer_num
          shift: [-0.55px, 0.55py]
        - ref: mirror_matrix_outer_bottom
          shift: [-0.55px, -0.55py]
        - ref: mirror_matrix_ring_mod
          shift: [-0.5px, -0.6py]
        - ref: mirror_matrix_index_mod
          shift: [0.5px, -0.65py]
        - ref: mirror_thumbfan_far_thumb
          shift: [0.55px,-0.55py]
      fillet: 5
  screws:
    - what: circle
      where: /hole/
      radius: screw_radius
  combo:
    - name: board
    - operation: subtract
      name: keys
    - operation: subtract
      name: screws
  pcb_cut:
    - name: board
    - operation: subtract
      name: screws
pcbs:
  keyboard:
    outlines:
      main:
        outline: board
    footprints:
      key_switches:
        what: ceoloide/switch_choc_v1_v2
        where: /key/
        params:
          hotswap: true
          reversible: false
          side: B
          from: "{{column_net}}"
          to: "{{colrow}}"
          choc_v2_support: false
          show_keycaps: true
          keycaps_x: keycw
          keycaps_y: keych
          switch_3dmodel_filename: ${SCOTTOKEEBS_KICAD}/3dmodels/ScottoKeebs_Choc.3dshapes/Choc_V1.step
          switch_3dmodel_xyz_rotation: [0, 180, 180]
          hotswap_3dmodel_filename: ${SCOTTOKEEBS_KICAD}/3dmodels/ScottoKeebs_Hotswap.3dshapes/Choc_V1.step
          hotswap_3dmodel_xyz_offset: [0, 0, -1.7]
          hotswap_3dmodel_xyz_rotation: [0, 180, 180]
        adjust:
          rotate: switch_rotation
      diode:
        what: ceoloide/diode_tht_sod123
        where: /key/
        params:
          from: "{{colrow}}"
          to: "{{row_net}}"
          include_tht: false
          reversible: false
          side: B
          diode_3dmodel_filename: ${SCOTTOKEEBS_KICAD}/3dmodels/ScottoKeebs_Components.3dshapes/Diode_SOD-123.step
        adjust:
          shift: [horizontal_diode_shift,vertical_diode_shift]
          rotate: 90 + diode_rotation
          resist: true
      mcu:
        what: grazfather/waveshare_rp2040_zero
        params:
          mcu_3dmodel_filename: ${SCOTTOKEEBS_KICAD}/3dmodels/ScottoKeebs_MCU.3dshapes/RP2040_Zero.step
          mcu_3dmodel_xyz_offset: [0, 0.5, 0]
          mcu_3dmodel_xyz_rotation: [0, 0, -90]
          P0: OLED_MOSI
          P1: OLED_SS
          P2: OLED_SCK
          P3: mirror_row_num
          P4: mirror_row_top
          P5: mirror_row_home
          P6: mirror_row_bottom
          P7: mirror_row_mod
          P8: col_inner
          P9: col_index
          P10: col_middle
          P11: col_ring
          P12: col_pinky
          P13: col_outer
          P14: row_mod
          P15: row_bottom
          P26: row_home
          P27: row_top
          P28: row_num
        where:
          ref.aggregate.parts: [matrix_inner_top, mirror_matrix_inner_top]
          shift: [0, 12]
      oled:
        what: ceoloide/nice_view
        params:
          VCC: VCC
          MOSI: OLED_MOSI
          CS: OLED_SS
          SCK: OLED_SCK
        where:
          ref.aggregate.parts: [matrix_inner_top, mirror_matrix_inner_top]
          shift: [0, 7]
      holeTopLeft:
        what: mountinghole
        where.ref: [hole_top_left]
      holeBottomLeft:
        what: mountinghole
        where.ref: [hole_bottom_left]
      holeTopInnerLeft:
        what: mountinghole
        where.ref: [hole_top_inner_left]
      holeBottomInnerLeft:
        what: mountinghole
        where.ref: [hole_bottom_inner_left]
      holeBottomInnerInnerLeft:
        what: mountinghole
        where.ref: [hole_bottom_inner_inner_left]
      holeTopRight:
        what: mountinghole
        where.ref: [mirror_hole_top_left]
      holeBottomRight:
        what: mountinghole
        where.ref: [mirror_hole_bottom_left]
      holeTopInnerRight:
        what: mountinghole
        where.ref: [mirror_hole_top_inner_left]
      holeBottomInnerRight:
        what: mountinghole
        where.ref: [mirror_hole_bottom_inner_left]
      holeBottomInnerInnerRight:
        what: mountinghole
        where.ref: [mirror_hole_bottom_inner_inner_left]
